<footer class="footer-container">
  <div class="footer-grid">
    <div class="footer-col">
      <h3>Top Tutorials</h3>
      <a href="https://www.doyogawithme.com/yoga-classes/beginner" target="_blank">Yoga for Beginners</a>
      <a href="https://www.yogajournal.com/practice/advanced-yoga-poses/" target="_blank">Advanced Asanas</a>
      <a href="https://www.yogajournal.com/meditation/" target="_blank">Meditation Basics</a>
      <a href="https://www.artofliving.org/in-en/yoga/pranayama" target="_blank">Pranayama Guide</a>
      <a href="https://www.yogajournal.com/lifestyle/health/holistic-health/" target="_blank">Holistic Healing</a>
    </div>

    <div class="footer-col">
      <h3>Top References</h3>
      <a href="https://www.yogajournal.com/poses/" target="_blank">Pose Library</a>
      <a href="https://www.yogajournal.com/teach/anatomy-of-yoga/" target="_blank">Anatomy of Yoga</a>
      <a href="https://www.ayurveda.com/" target="_blank">Ayurveda Guide</a>
      <a href="https://www.yogapedia.com/definition/terms" target="_blank">Sanskrit Terms</a>
    </div>

    <div class="footer-col">
      <h3>Top Examples</h3>
      <a href="https://www.yogajournal.com/practice/morning-yoga/" target="_blank">Morning Routines</a>
      <a href="https://www.doyogawithme.com/yoga-classes/stress-relief" target="_blank">Stress Relief Flows</a>
      <a href="https://www.yogajournal.com/practice/power-yoga/" target="_blank">Power Yoga Sets</a>
    </div>

    <div class="footer-col">
      <h3>Get Certified</h3>
      <a href="https://www.yogaalliance.org/Become_a_RYS" target="_blank">RYS 200 Training</a>
      <a href="https://www.yogaalliance.org/Become_a_RYS" target="_blank">RYS 500 Training</a>
      <a href="https://prenatalyogacenter.com/prenatal-yoga-teacher-training/" target="_blank">Prenatal Certification</a>
    </div>
    
  </div>

  <div class="footer-bottom">
    <div class="social-links">
      <i class="pi pi-youtube"></i>
      <i class="pi pi-linkedin"></i>
      <i class="pi pi-instagram"></i>
      <i class="pi pi-facebook"></i>
    </div>
    
    <div class="footer-info">
      <p [innerHTML]="Abouttext"></p>
      <p class="copyright">Copyright 1999-2026 by Refsnes Data. All Rights Reserved. MUTRA is Powered by Angular.</p>
    </div>
  </div>
</footer>